 /* @import url('http://fonts.cdnfonts.com/css/harry-potter'); */

 * {

     padding: 0;
     margin: 0;
     font-family: 'Harry Potter', sans-serif;
     scroll-behavior: smooth;
     overflow-x: hidden;
    max-width: 100%; 
     
      /* outline: 1px solid red;   */
                                                
 }

 body {

     background: black;
     color: white;
     /* margin-left: 1px;
     margin-right: 1px;  */
 }

 .main{

    height: 100vh;
    width: 100vw;
   
    

 }

 .banner {

     background-image: url(HPimages/banner.jpg);
     background-position: center;
     background-size: cover;
     height: 70vh;
     width: 100%;
     justify-content: center;
     align-items: center;
     display: flex;
     background-repeat: no-repeat;
     margin: 0;
     
 }

 .banner-text {
     font-family: 'Harry Potter', sans-serif;
     color: white;
     font-size: 3.5vw;
     text-align: center;
     /* flex-wrap: wrap; */

 }

 nav {
     font-family: 'Harry Potter', sans-serif;
     display: flex;
     flex-wrap: wrap;
     align-items: center;
     justify-content: space-evenly;
     width: 100%;
     height: 25px;
     font-size: 15px;
     margin: 10px 0;
     

 }

 nav ul {

     display: flex;
     list-style: none;

 }

 nav li {

     padding: 0 5vw;

}


 

 a {
     text-decoration: none;
     color: white;
 }

 nav a:hover {
    /* background: var(--main-color); */
    color: darkgoldenrod;
}

 
 

 #All {
     margin-top:9vh;
     margin-bottom: 11vh;
     text-align: center;
     font-size: 40px;
     font-family: 'Harry Potter', sans-serif; ;

 }

 .container1{
    display: flex;
    flex-direction: column

    
 }

 img{
    height: 400px;
    width: 600px;
    border-radius: 5px;
    margin-top: 40px;
    
   
   }

   b{
    font-size: 35px;
   }

   p{

    padding: 20px;
   }

  
     
    .row{
        display: flex;
        flex-direction: row;
        margin: auto;
        width: 100vw;
        justify-content: space-evenly;
    }
    .tile{
        width: 35vw;
        margin: 5vh 1vh;
        font-size: 20px;
        margin-bottom: 100px;
        font-family: 'Harry Potter', sans-serif; 
        letter-spacing: 1px;
        line-height: 2rem;
    }

    
    .testimonials{
        text-align: center;
        margin-bottom: 50px;
    }
    .testimonials h2{
        
        margin-top: 20px;
        padding-bottom: 5vh;
        font-size: 30px;
        font-family: 'Harry Potter', sans-serif;
    }
    .testimonials p{
        padding: 5vh;
        font-size: 20px;
        font-family: 'Harry Potter', sans-serif;
    }


/* --------------------------------Media Qs--------------------------------------- */

@media (max-width: 1625px) {

    .banner{
        height: 70vh;
        width: 100%
    }

}

@media (max-width: 900px) {

   
    .banner{
        height: 70vh;
     width: 100%;
    }

    .row{
        display: flex;
        flex-direction: column;
        margin: auto;
        width: 100vw;
        align-items: center;

}

.tile{
    width: 80vw;
    text-align: center;
}
}


@media (max-width: 600px) {

    

    .banner{

        height: 40vh;
        width: 105%
        
    }

}

@media (max-width: 400px) {

    .banner{
        height: 30vh;
     width: 150%
    }

}

@media (max-width: 200px) {

    .banner{
        height: 20vh;
     width: 250%
    }

}
